<ul class="list-disc list-inside">
  <% Book.top_unread_books.each do |book| %>
    <li>
      <span class='font-bold'><%= book['title'] %></span>
      (<%=book['count']%> - <%= button_tag "read", class: 'underline', data: {controller: 'book', reflex: 'click->book#read', title: book['title']} %>)
    </li>
  <% end %>
</ul>